@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  from {
    transform: translateX(-10em);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  from {
    transform: translateX(10em);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.reveal {
  opacity: 0;
  position: relative;
}

.reveal.active {
  opacity: 1;
}

.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}

.active.fade-top {
  animation: fade-top 1s ease-in;
}

.active.fade-left {
  animation: fade-left 1s ease-in;
}

.active.fade-right {
  animation: fade-right 1s ease-in;
}

.reveal.active .slide-in-left-animation {
  animation: slide-in-left 1s ease-in;
}

.reveal.active .slide-in-right-animation-1 {
  animation: slide-in-right 0.5s ease-in;
}
.reveal.active .slide-in-right-animation-2 {
  animation: slide-in-right 1s ease-in;
}
.reveal.active .slide-in-right-animation-3 {
  animation: slide-in-right 0.9s ease-in;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
#app {
  @apply space-y-8;
  margin: 0 auto;
  font-weight: normal;
}

#app main section {
  @apply flex flex-col;
  min-height: 500px;
}

#Portfolio {
  /* background-color: #051437;
  background: url("./portfolio-bg.svg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover; */
}

#Skills {
  background: transparent;
  overflow: hidden;
  position: relative;
}

#Skills::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: white;
  background: url("/hero.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(180deg);
}

::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

.main-content-wrapper:before {
  content: "";
  display: block;
  position: fixed;
  inset: 0;
  background: linear-gradient(to top, #f77216, #051437);
  background-size: cover;
  z-index: -1;
}
.main-content-wrapper {
  position: relative;
  @apply scrollbar-thin scrollbar-thumb-orange-500 scrollbar-track-slate-800;
}

.background-gradient-color {
  position: relative;
}

.background-gradient-color:before {
  content: "";
  position: fixed;
  inset: 0;
  background: linear-gradient(to top, #256de1, #051437);
  /* background: url("./portfolio-bg.svg"); */
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
  z-index: -1;
}

.background-gradient-color:after {
  content: "";
  position: fixed;
  inset: 0;
  background: white;
  background: url("/main-bg.svg");
  background-position: bottom;
  background-repeat: repeat;
  background-size: fill;
  opacity: 0.3;
  z-index: -1;
}

.form-controls {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.card-project {
  @apply h-full flex flex-col;
  position: relative;
  z-index: 1;
}

.card-project::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: -1;
  opacity: 0.7;
}

.card-project h2 {
  @apply text-lg font-bold uppercase;
}

.card-project .card-content {
  @apply p-8 pt-0 space-y-4 flex-1 flex flex-col justify-end;
}

.technologies {
  @apply flex flex-wrap gap-2 items-center py-4;
}

.tech {
  @apply text-sm py-1 px-2 text-white rounded-lg;
}

.tech-vue {
  @apply bg-green-700;
}

.tech-node {
  @apply bg-green-800;
}

.tech-html {
  @apply bg-blue-700;
}

.tech-tailwind {
  @apply bg-blue-400;
}

.tech-express {
  @apply bg-gray-500;
}

.tech-mongodb {
  @apply bg-green-400;
}

.tech-react {
  @apply bg-teal-500;
}

.hero-background {
  background-color: white;
  background: url("/hero.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
