@keyframes fadeIn {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.fade-animation {
  animation: fadeIn 800ms;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
#app {
  margin: 0 auto;
  font-weight: normal;
}

#app main section {
  min-height: 500px;
}

#Skills {
  background: transparent;
  overflow: hidden;
  position: relative;
}

#Skills::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: white;
  background: url("./assets/hero.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(180deg);
}

.main-content-wrapper {
  position: relative;
}

.main-content-wrapper:before {
  content: "";
  position: fixed;
  inset: 0;
  background: linear-gradient(to top, #256de1, #051437);
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
  z-index: -1;
}

.background-gradient-color {
  position: relative;
}

.background-gradient-color:before {
  content: "";
  position: fixed;
  inset: 0;
  background: linear-gradient(to top, #256de1, #051437);
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
  z-index: -1;
}

.background-gradient-color:after {
  content: "";
  position: fixed;
  inset: 0;
  background: white;
  background: url("./assets/main-bg.svg");
  background-position: bottom;
  background-repeat: repeat;
  background-size: fill;
  opacity: 0.3;
  z-index: -1;
}

.card-project {
  position: relative;
  z-index: 1;
}

.card-project::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: -1;
  opacity: 0.7;
}

.hero-background {
  background-color: white;
  background: url("./assets/hero.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
